FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
FRANCE_TRAVAIL_SCOPE=
FRANCE_TRAVAIL_TOKEN_URL=
FRANCE_TRAVAIL_BASE_URL=
INDEED_BASE_URL=https://fr.indeed.com
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
REQUEST_TIMEOUT=30